<em>How would you rate...</em>

<strong><%= @movie_title %></strong>

<div class="row">
  <div id="likeable" class="offset2 span8 pagination-centered">

    <%= image_tag @movie_image %>

    <%= ratings_for @random_like, :show_user_rating => true %>

    <%= button_to "next", root_path, :class => "span4 btn" %>

    <%= render "layouts/searchbar" %>

  </div>
</div>
